body {
  height: 100%;
  width: 100%;
  background-color: rgba(248, 249, 251, 1);
  user-select: none;
}
@font-face {
  font-family: 'Roboto';
  src: url('../public/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.App {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255);
}
.container {
  background-color: rgba(248, 249, 251, 1);
}
h1 {
  color: #343a40;
}
.pullZone {
  height: 300pt;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pullZone img {
  width: 90%;
  height: 100%;
}

.criteriass {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 600pt;
  gap: 0rem;
  margin-top: 10pt;
}
.main {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 100%;
}
.criteriaS {
  width: 80%;
  height: 100%;
  /* padding: 5pt; */
  background-color: #f8f9fb;
  overflow: scroll;
  position: relative;
  border-radius: 8pt;
}
.activeRule {
  width: 10%;
  height: 100%;
  padding: 5pt;
}

.divss {
  height: 100%;
}
.activeRule img {
  height: 100%;
  width: 100%;
}
.criteriaS::-webkit-scrollbar {
  display: none;
}
.dropdown > button > i {
  color: red;
  font-size: 50pt;
}
.criteriaNav {
  padding: 12pt;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2pt solid #e1e1e1;
  background-color: #f8f9fb;
  position: sticky;
  z-index: 9999;
  top: 0;
  h2 {
    font-size: 30px;
    font-family: "Roboto";
    font-family: 500;
  }
  .nav2 {
    width: 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav2 :nth-child(1) {
    cursor: pointer;
    height: 90%;
    padding: 6pt;
    width: 35%;
    background-color: rgba(202, 226, 188, 1);
    border-radius: 5pt;
  }
  .nav2 :nth-child(2) {
    height: 90%;
    width: 38%;
  }
}

.add-criteria-form input {
  max-width: 400px;
}

.criteria-list {
  width: 100%;
  /* margin: 0 auto; */
}

.dynamic-component {
  max-width: 600px;
  margin: 0 auto;
}
.criteria-item {
  max-width: 90%;
  margin: 0 auto;
  line-height: 1.6;
  background-color: white;
}
.form-select {
  margin-top: 10pt;
  border: 1pt solid #6c757d;
  outline: none;
}
.criteriaListHead {
  padding-bottom: 10pt;
  border-bottom: 2pt solid #e1e1e1;
}

.criteria-text {
  word-wrap: break-word;
}

h5 {
  font-size: 1.2rem;
  font-weight: 600;
}

.btn-link {
  color: #007bff;
  cursor: pointer;
}

.btn-link:hover {
  text-decoration: underline;
}
